<!DOCTYPE HTML>

<html>
	<head>
		<title>Sentiment Analysis in Twitter</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/assets/css/main.css"/>
		
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="http://127.0.0.1:5110/">Twitter Project</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="http://127.0.0.1:5110/">Home</a></li>
					<li><a href="about.html">About</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Sentiment Analysis in Twitter</h1>
					<p>A project made by students of M.Sc. Data and Web science at Aristotle University of Thessaloniki</p>
				</div>
				<video autoplay loop muted playsinline src="static/images/banner.mp4"></video>
			</section>
			
<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Some of the Tweets we examined</h2>
						<p>The increasing Internet activities leads to the creation of massive data, that need to be handled.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Interested in how climate is impacting the public health? @climatecentral is offering a free webinar on #health</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="static/images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>Random Twitter account</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>“We are losing the web of life”: why the global nature crisis is as dangerous as climate change</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="static/images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>Random Twitter account</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>When will we realise that we can’t eat money?  We have only one beautiful planet</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="static/images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>Random Twitter account</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
			
		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Worldcloud Features</h2>
						<p>Bellow we present some wordcloud images which show the most frequent words between the tweets we examined. This section is about emerging topics and information evolution in time</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
															
								<img src="static/images/wordcloud/pic01.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
															
								<img src="static/images/wordcloud/pic04.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
															
								<img src="static/images/wordcloud/pic05.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
																
								<img src="static/images/wordcloud/pic07.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section><section>
							<div class="content">
															
								<img src="static/images/wordcloud/pic08.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
															
								<img src="static/images/wordcloud/pic09.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>							
					</div>
				</div>
			</section>
			
			<section>
							<div class="content">
								</br>							
								<img src="static/images/wordcloud/pic14.jpg" width="500" height="500" class="picture-center" onclick="window.open(this.src)">								
							</div>
							<header class="special">
                          </br>	</br>						
						<p>Above we see the Top 30 relevant terms for topic ClimateChange and bellow how many times we see some terms that contribute to some interesting conclusions.</p>
					</header>
				</section>	
				
			<section>
							<div class="content">
								</br>							
								<img src="static/images/wordcloud/pic15.jpg" width="500" height="500" class="picture-center" onclick="window.open(this.src)">								
							</div>
							<header class="special">
                          </br>	</br>							
					</header>
			</section>
		<!-- Statistical -->
			
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Statistical analysis of our dataset</h2>
					<p>Bellow we present some wordcloud images which show the most frequent words between each emotion examined. These emotions are (according to appearance) Anger - Disgust - Fear - Joy - Sadness - Surprise - Positive emotions  Negative emotions.</p>
				</div>
			</section>
			
           <section class="wrapper">
				<div class="inner">					
					<div class="highlights">
						<section>
							<div class="content">
															
								<img src="static/images/statistical/Anger.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
															
								<img src="static/images/statistical/Disgust.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
															
								<img src="static/images/statistical/Fear.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
																
								<img src="static/images/statistical/Joy.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section><section>
							<div class="content">
															
								<img src="static/images/statistical/Sadness.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
															
								<img src="static/images/statistical/Surprise.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>	
                       <section>
							<div class="content">
															
								<img src="static/images/statistical/Positive.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>	
                      <section>
							<div class="content">
															
								<img src="static/images/statistical/Negative.jpg" width="270" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>							                  					
					</div>
				</div>
		    </div>
			</section>
			
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Stacked Bars</h2>
						<p>The first two bars show the distribution of the sentiments that some specific terms had in percentage. The other two stacked bars show the emotion counts by sentiment and the opposite.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
															
								<img src="static/images/statistical/Stacked1.jpg" width="330" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
															
								<img src="static/images/statistical/Stacked2.jpg" width="330" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
															
								<img src="static/images/statistical/Emos_by_Sents.jpg" width="330" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>
						</section>
						<section>
							<div class="content">
																
								<img src="static/images/statistical/Sents_by_Emos.jpg" width="330" height="240" class="picture" onclick="window.open(this.src)">
								
							</div>															                  					
					</div>
				</div>
		    </div>
			</section>
			
			<section>
			
			<header class="special">
						<h2>Tweets Diagram</h2>
						<p>In the diagram below we see the tweets in horizontal axis and the sentiment score they had (normalized) in the period of their extraction </p>
					</header>
					
							<div class="content">
								</br>							
								<img src="static/images/statistical/diagram.jpg" width="500" height="500" class="picture-center" onclick="window.open(this.src)">								
							</div>
							<header class="special">
                          </br>										
					</header>
				</section>
				
				<!-- Geolocation -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Recovering Geolocation</h2>
					<p>Exporting geographic information is very easy when the user shares his exact coordinates (check-in).Unfortunately (or fortunately) this happens only for ~ 2% of all the tweets that are being wiped out daily. However, this percentage in the total of a large number of tweets is sufficient to draw some relevant conclusions. Specifically, by analyzing tweets that include a geographic location, one can extract a set of words that are indicative of a site (for example, the word howdy is more likely to be used by users with a relationship with Texas).</p>
				</div>
			</section>

				<section>
							<div class="content">
								</br>							
								<img src="static/images/geolocation/pic01.jpg" width="500" height="500" class="picture-center"  onclick="window.open(this.src)">								
							</div>
							<header class="special">
                          </br>							
						<p>Blue dots represent positive emotion tweets and red dots negative. Dots are located based in our geolocation analysis.</p>
					</header>
				</section>		


		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
												
					</div>
					<div class="copyright">
						&copy; Theodoris Liapikos  &emsp;&emsp;&emsp; Alexandros Vrochidis </a>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>